<div id="pozadina" class="text-center">
    <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
      <label for="inputEmail" class="sr-only">Old password</label>
      <input type="password" id="inputEmail" formControlName="oldpassword" class="form-control" placeholder="Old password" required="" autofocus="">
      <div *ngIf="form.controls['oldpassword'].errors && !form.controls['oldpassword'].pristine" class="error-msg">
          <div class='toLeft' [hidden]="!form.controls['oldpassword'].errors.required">
              Old password is required.
          </div>
          <div class='toLeft' [hidden]="!form.controls['oldpassword'].errors.minlength">
              Old password is too short.
          </div>
      </div>
      <label for="inputPassword" class="sr-only">New password</label>
      <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="New password" required="">
      <div *ngIf="form.controls['password'].errors && !form.controls['password'].pristine" class="error-msg">
          <div class='toLeft' [hidden]="!form.controls['password'].errors.required">
              Valid password is required.
          </div>
          <div class='toLeft' [hidden]="!form.controls['password'].errors.minlength">
              Password is too short.
          </div>
      </div>
      <label for="inputPassword" class="sr-only">Confirm password</label>
      <input type="password" id="confirmPassword" formControlName="cpassword" class="form-control" placeholder="Confirm password" required="">
      <div *ngIf="form.controls['cpassword'].errors && !form.controls['cpassword'].pristine" class="error-msg">
          <div class='toLeft' [hidden]="!form.controls['cpassword'].errors.required">
              Confirm password is required.
          </div>
      </div>
      <div class='toLeft' *ngIf="form.controls['password'].value!=form.controls['cpassword'].value">
          Passwords doesn't match.
        </div>
      <button class="btn btn-lg btn-danger btn-block" style="margin-top:10px;" [disabled]="!form.valid||form.controls['password'].value!=form.controls['cpassword'].value" type="submit">change</button>
    </form>
  
  
  </div>