#avatarnav{
    width:30px;
    height:30px;
    margin-right: 5px;
}

@media only screen and (max-width: 992px) {
    avatarnav {
        margin-top: 0%;
    }
}
@media only screen and (min-width: 992px) {
    avatarnav {
        margin-top: -3%;
    }
}

.edit{
    color:black !important;
}
.dropdown-toggle::after {
    display:none;
}
 .navbar-nav > li.dropdown:hover > a, 
 .navbar-nav > li.dropdown:hover > a:hover,
 .navbar-nav > li.dropdown:hover > a:focus {
    color: white;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}